<%= form_for(cliente, html: { id: "cliente_id"}) do |f| %>
<% if cliente.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

  <ul>
    <% cliente.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :ci, "Cédula de identidad Nº *", class: "control-label" %>
          <%= f.number_field :ci, class: "form-control"%>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :nombre, "Nombre *", class: "control-label" %>
          <%= f.text_field :nombre, class: "form-control uppercase" %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :direccion, "Dirección *", class: "control-label" %>
          <%= f.text_field :direccion, class: "form-control uppercase" %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :telefono, "Teléfono", class: "control-label" %>
          <%= f.text_field :telefono, class: "form-control" %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :fecha_contrato, "Fecha de contrato", class: "control-label" %>
          <%= f.date_field :fecha_contrato, class: "form-control" %>
        </div>
      </div>

      <div class="col-md-6"> 
        <div class="form-group">
          <%= f.label :fecha_conexion, "Fecha de conexión", class: "control-label" %>
          <%= f.date_field :fecha_conexion, class: "form-control" %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :observacion, "Observación", class: "control-label" %>
          <%= f.text_field :observacion, class: "form-control uppercase" %>
        </div>
      </div>
    </div>

    <div class="actions">
      <%= f.submit class: 'btn btn-default'%>
      <%= link_to "Cancelar", "", type: "reset", class: "btn btn-default" %>
      <%= link_to "Atrás", clientes_path, class: "btn btn-default" %>
    </div>

  </div>
</div>
<% end %>

<script type="text/javascript">

$(document).on('turbolinks:load', function() {
  $('#cliente_id').bootstrapValidator({
    framework: 'bootstrap',
    feedbackIcons: {
      valid: 'glyphicon glyphicon-ok',
      invalid: 'glyphicon glyphicon-remove',
      validating: 'glyphicon glyphicon-refresh'
    },
    fields: {
      'cliente[ci]': {
        trigger: 'blur',
        validators: {
          integer: {
            message: 'No es un número'
          },
          notEmpty: {
            message: 'La cédula de identidad es requerida'
          },
          stringLength: {
                          min: 6,
                          max: 8,
                          message: 'La cédula de idéntidad debe tener entre 6 y 8 caractéres'
          }
        }
      },
      'cliente[nombre]': {
        trigger: 'blur',
        validators: {
          notEmpty: {
            message: 'El nombre es requerido'
          },
          stringLength: {
                          min: 6,
                          max: 100,
                          message: 'El nombre debe tener entre 6 y 100 caractéres'
          }
        }
      },
      'cliente[direccion]': {
        trigger: 'blur',
        validators: {
          notEmpty: {
            message: 'La dirección es requerida'
          },
          stringLength: {
                          min: 6,
                          max: 100,
                          message: 'La dirección debe tener entre 6 y 100 caractéres'
          }
        }
      }
    }  
  });
});

</script>