<%= form_for(cliente) do |f| %>
  <% if cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    Clientes
  </div>
  <div class="panel-body">
<div class="row">
<div class="col-md-6">
  <div class="form-group">
    <%= f.label :ci, class: "control-label" %>
    <%= f.number_field :ci, class: "form-control" %>
  </div>
</div>
<div class="col-md-6">
  <div class="form-group">
    <%= f.label :nombre, class: "control-label" %>
    <%= f.text_field :nombre, class: "form-control" %>
  </div>
</div>
<div class="col-md-6">
  <div class="form-group">
    <%= f.label :direccion, class: "control-label" %>
    <%= f.text_field :direccion, class: "form-control" %>
  </div>
</div>
<div class="col-md-6">
  <div class="form-group">
    <%= f.label :telefono, class: "control-label" %>
    <%= f.text_field :telefono, class: "form-control" %>
  </div>
</div>
<div class="col-md-6">
  <div class="form-group">
    <%= f.label :fecha_contrato, class: "control-label" %>
    <%= f.date_select :fecha_contrato, class: "form-control" %>
  </div>
</div>
<div class="col-md-6"> 
  <div class="form-group">
    <%= f.label :fecha_conexion, class: "control-label" %>
    <%= f.date_select :fecha_conexion, class: "form-control" %>
  </div>
</div>
<div class="col-md-6">
  <div class="form-group">
    <%= f.label :observacion, class: "control-label" %>
    <%= f.text_field :observacion, class: "form-control" %>
  </div>
</div>
<div class="col-md-6">
  <div class="form-group">
    <%= f.label :medidor_id, class: "control-label" %>
    <%= f.number_field :medidor_id, class: "form-control" %>
  </div>
</div>  
 <div class="col-md-6">
  <div class="form-group">
    <%= f.label :estado_cuenta, class: "control-label" %>
    <%= f.check_box :estado_cuenta %>
  </div>
</div>

</div>

  <div class="actions">
    <%= f.submit class: 'btn btn-default'%>
    <%= link_to "Cancelar", clientes_path, class: "btn btn-default" %>
  </div>
<% end %>

</div>
</div>