<h1 class="page-header">
  Clientes
  <%= link_to new_cliente_path, class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-plus"></span>
  Nuevo Cliente
  <% end %>
</h1>

<!-- Clientes -->
<div class="panel panel-default">
  <div class="panel-body">
    <table id="tablacliente" class="display responsive no-wrap">
      <thead>
        <tr>
          <th>Cédula de identidad Nº</th>
          <th>Nombre</th>
          <th>Dirección</th>
          <th>Teléfono</th>
          <th>Medidor</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @clientes.each do |cliente| %>
        <tr>
          <td><%= number_with_delimiter(cliente.ci, delimiter: ".") %></td>
          <td><%= cliente.nombre %></td>
          <td><%= cliente.direccion %></td>
          <td><%= cliente.telefono %></td>
          <td><%= cliente.medidor_id %></td>
          <td>
            <%= link_to cliente do %>
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true" title="Ver"></span>
            <% end %>
          </td>
          <td>
            <%= link_to edit_cliente_path(cliente) do %>
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Editar"></span>
            <% end %>
          </td>
          <td>
            <%= link_to cliente, method: :delete, data: { title: 'Eliminar cliente', confirm:'¿Quieres eliminar este cliente?', commit: 'Eliminar', cancel: 'Cancelar' } do %>
            <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Eliminar"></span>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<!--End Clientes -->

<script type="text/javascript">

$(document).on('turbolinks:load', function() {

  $('#tablacliente').DataTable({

    "order": [[ 1, "asc" ]],
    
    "language": {
        "sProcessing":    "Procesando...",
        "sLengthMenu":    "Mostrar _MENU_ registros",
        "sZeroRecords":   "No se encontraron resultados",
        "sEmptyTable":    "Ningún dato disponible en esta tabla",
        "sInfo":          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "sInfoEmpty":     "Mostrando registros del 0 al 0 de un total de 0 registros",
        "sInfoFiltered":  "(filtrado de un total de _MAX_ registros)",
        "sInfoPostFix":   "",
        "sSearch":        "Buscar:",
        "sUrl":           "",
        "sInfoThousands":  ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
            "sFirst":    "Primero",
            "sLast":    "Último",
            "sNext":    "Siguiente",
            "sPrevious": "Anterior"
        },
        "oAria": {
            "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        },
        buttons: {
                copy: 'Copiar',
                copyTitle: 'Copiar al portapapeles',
                copySuccess: {
                    _: 'Copiados %d filas al portapapeles',
                    1: 'Copiado 1 fila al portapapeles'
                },
                print: 'Imprimir',
                pageLength: 'Mostrar %d filas'
            }
    },
    
    responsive: true,
    
    destroy: true,
    
    dom: 'Bfrtip',
    
    lengthMenu: [
    [ 10, 25, 50, -1 ],
    [ '10 filas', '25 filas', '50 filas', 'Morstrar todo' ]
    ],
    
    buttons: [
    'pageLength', 'copy', 'csv', 'excel', 'pdf', 'print'
    ]
  });
  
  $('div#tablacliente_filter input').addClass('form-control input-sm input-width');

});

</script>