<p id="notice"><%= notice %></p>

<h1 class="page-header">
  Clientes
  <%= link_to new_cliente_path, class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-plus"></span>
  Nuevo Cliente
  <% end %>
</h1>

<!-- Clientes -->
<div class="panel panel-default">
  <div class="panel-heading">
    Clientes
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
          <tr>
            <th>Ci</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Fecha contrato</th>
            <th>Fecha conexion</th>
            <th>Observacion</th>
            <th>Medidor</th>
            <th>Estado cuenta</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @clientes.each do |cliente| %>
          <tr>
            <td><%= cliente.ci %></td>
            <td><%= cliente.nombre %></td>
            <td><%= cliente.direccion %></td>
            <td><%= cliente.telefono %></td>
            <td><%= cliente.fecha_contrato %></td>
            <td><%= cliente.fecha_conexion %></td>
            <td><%= cliente.observacion %></td>
            <td><%= cliente.medidor_id %></td>
            <td><%= cliente.estado_cuenta %></td>
            <td>
              <%= link_to cliente do %>
              <span class="glyphicon glyphicon-eye-open" aria-hidden="true" title="Ver"></span>
              <% end %>
            </td>
            <td>
              <%= link_to edit_cliente_path(cliente) do %>
              <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Editar"></span>
              <% end %>
            </td>
            <td>
              <%= link_to cliente, method: :delete, data: { confirm: '¿Estás seguro?' } do %>
              <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Eliminar"></span>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--End Clientes -->