<h1 class="page-header">
  Cliente
  <%= link_to clientes_path, class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Atrás
  <% end %>
  <%= link_to edit_cliente_path(@cliente), class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-pencil"></span>
  Editar
  <% end %>
</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <p>
          <strong>Cédula de identidad Nº:</strong>
          <%= number_with_delimiter(@cliente.ci, delimiter: ".") %>
        </p>

        <p>
          <strong>Nombre:</strong>
          <%= @cliente.nombre %>
        </p>

        <p>
          <strong>Dirección:</strong>
          <%= @cliente.direccion %>
        </p>

        <p>
          <strong>Teléfono:</strong>
          <%= @cliente.telefono %>
        </p>
      </div>

      <div class="col-md-6">
        <p>
          <strong>Observación:</strong>
          <%= @cliente.observacion %>
        </p>
        <p>
          <strong>Fecha de contrato:</strong>
          <%= @cliente.fecha_contrato.strftime("%d-%m-%Y") %>
        </p>

        <p>
          <strong>Fecha de conexión:</strong>
          <%= @cliente.fecha_conexion.strftime("%d-%m-%Y") %>
        </p>
      </div>
    </div>
  </div>
</div>