<%= form_for(periodo, html: { id: "periodo_id"}) do |f| %>
  <% if periodo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(periodo.errors.count, "error") %> prohibited this periodo from being saved:</h2>

      <ul>
      <% periodo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :periodo, "Periodo *", class: "control-label" %>
            <%= f.date_field :periodo, required: true, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :fecha_vencimiento, "Fecha de vencimiento *", class: "control-label" %>
            <%= f.date_field :fecha_vencimiento, required: true, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :estado_periodo, "Estado periodo", class: "control-label" %>
            <%= f.check_box :estado_periodo %>
          </div>
        </div>
      </div>

      <div class="actions">
        <%= f.submit class: 'btn btn-default'%>
        <%= link_to "Cancelar", "", type: "reset", class: "btn btn-default" %>
        <%= link_to "Atrás", periodos_path, class: "btn btn-default" %>
      </div>
      
    </div>
  </div>
<% end %>