<p id="notice"><%= notice %></p>

<h1>Periodos</h1>

<table>
  <thead>
    <tr>
      <th>Periodo</th>
      <th>Fecha vencimiento</th>
      <th>Estado periodo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @periodos.each do |periodo| %>
      <tr>
        <td><%= periodo.periodo %></td>
        <td><%= periodo.fecha_vencimiento %></td>
        <td><%= periodo.estado_periodo %></td>
        <td><%= link_to 'Show', periodo %></td>
        <td><%= link_to 'Edit', edit_periodo_path(periodo) %></td>
        <td><%= link_to 'Destroy', periodo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Periodo', new_periodo_path %>
