<p id="notice"><%= notice %></p>

<h1 class="page-header">
  Periodos
  <%= link_to new_periodo_path, class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-plus"></span>
  Nuevo Periodo
  <% end %>
</h1>

<!-- Periodos -->
<div class="panel panel-default">
  <div class="panel-body">
    <table id="tablaperiodo" class="display responsive no-wrap">
      <thead>
        <tr>
          <th>Periodo</th>
          <th>Fecha de vencimiento</th>
          <th>Estado periodo</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @periodos.each do |periodo| %>
        <tr>
          <td><%= periodo.periodo.strftime("%m-%Y") %></td>
          <td><%= periodo.fecha_vencimiento.strftime("%d-%m-%Y") %></td>
          <% if periodo.estado_periodo == true %>
          <td>ACTIVO</td>
          <% else %>
          <td>INACTIVO</td>
          <% end %>
          <td>
            <%= link_to periodo do %>
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true" title="Ver"></span>
            <% end %>
          </td>
          <td>
            <%= link_to edit_periodo_path(periodo) do %>
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Editar"></span>
            <% end %>
          </td>
          <td>
            <%= link_to periodo, method: :delete, data: { title: 'Eliminar periodo', confirm:'¿Quieres eliminar este periodo?', commit: 'Eliminar', cancel: 'Cancelar' } do %>
            <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Eliminar"></span>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<!--End Periodos -->

<script type="text/javascript">

$(document).on('turbolinks:load', function() {

  $('#tablaperiodo').DataTable({

    "order": [[ 0, "desc" ]],

    "language": {
        "sProcessing":    "Procesando...",
        "sLengthMenu":    "Mostrar _MENU_ registros",
        "sZeroRecords":   "No se encontraron resultados",
        "sEmptyTable":    "Ningún dato disponible en esta tabla",
        "sInfo":          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "sInfoEmpty":     "Mostrando registros del 0 al 0 de un total de 0 registros",
        "sInfoFiltered":  "(filtrado de un total de _MAX_ registros)",
        "sInfoPostFix":   "",
        "sSearch":        "Buscar:",
        "sUrl":           "",
        "sInfoThousands":  ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
            "sFirst":    "Primero",
            "sLast":    "Último",
            "sNext":    "Siguiente",
            "sPrevious": "Anterior"
        },
        "oAria": {
            "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        },
        buttons: {
                copy: 'Copiar',
                copyTitle: 'Copiar al portapapeles',
                copySuccess: {
                    _: 'Copiados %d filas al portapapeles',
                    1: 'Copiado 1 fila al portapapeles'
                },
                print: 'Imprimir',
                pageLength: 'Mostrar %d filas'
            }
    },

    responsive: true,
    
    destroy: true,
    
    dom: 'Bfrtip',
    
    lengthMenu: [
    [ 10, 25, 50, -1 ],
    [ '10 rows', '25 rows', '50 rows', 'Show all' ]
    ],
    
    buttons: [
    'pageLength', 'copy', 'csv', 'excel', 'pdf', 'print'
    ]
  });
  
  $('div#tablaperiodo_filter input').addClass('form-control input-sm input-width');

});

</script>