<p id="notice"><%= notice %></p>

<h1 class="page-header">
  Servicios
  <%= link_to new_servicio_path, class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-plus"></span>
  Nuevo Servicio
  <% end %>
</h1>

<!-- Servicios -->
<div class="panel panel-default">
  <div class="panel-heading">
    Servicios
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
          <tr>
            <th>Concepto</th>
            <th>M3</th>
            <th>Tarifa</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @servicios.each do |servicio| %>
          <tr>
            <td><%= servicio.concepto %></td>
            <td><%= servicio.m3 %></td>
            <td><%= servicio.tarifa %></td>
            <td>
              <%= link_to servicio do %>
              <span class="glyphicon glyphicon-eye-open" aria-hidden="true" title="Ver"></span>
              <% end %>
            </td>
            <td>
              <%= link_to edit_servicio_path(servicio) do %>
              <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Editar"></span>
              <% end %>
            </td>
            <td>
              <%= link_to servicio, method: :delete, data: { confirm: '¿Estás seguro?' } do %>
              <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Eliminar"></span>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--End Sercicios -->