<%= form_for(factura) do |f| %>
  <% if factura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(factura.errors.count, "error") %> prohibited this factura from being saved:</h2>

      <ul>
      <% factura.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-heading">
      Facturas
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :cliente_id , "Cliente *", class: "control-label" %>
            <%= f.number_field :cliente_id, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :periodo_id, "Periodo *", class: "control-label" %>
            <%= f.number_field :periodo_id, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :condicion, "Condición *", class: "control-label" %>
            <%= f.text_field :condicion, class: "form-control uppercase" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :fecha, "Fecha *",class: "control-label" %>
            <%= f.date_field :fecha, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :iva, "Iva *", class: "control-label" %>
            <%= f.number_field :iva, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-6"> 
          <div class="form-group">
            <%= f.label :erssan, "Erssan *", class: "control-label" %>
            <%= f.number_field :erssan, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :total, "Total *", class: "control-label" %>
            <%= f.number_field :total, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="actions">
        <%= f.submit class: 'btn btn-default'%>
        <%= link_to "Cancelar", facturas_path, class: "btn btn-default" %>
      </div>
      
    </div>
  </div>
<% end %>