<h1 class="page-header">
  Factura
  <%= link_to facturas_path, class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Atrás
  <% end %>
  <%= link_to edit_factura_path(@factura), class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-pencil"></span>
  Editar
  <% end %>
</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <p>
          <strong>Cliente:</strong>
          <%= @factura.cliente.nombre %>
        </p>
      </div>

      <div class="col-md-4">
        <p>
          <strong>Periodo:</strong>
          <%= @factura.periodo.periodo.strftime("%m-%Y") %>
        </p>
      </div>

      <div class="col-md-4">
        <p>
          <strong>Condición:</strong>
          <%= @factura.condicion %>
        </p>
      </div>

      <div class="col-md-4">
        <p>
          <strong>Fecha:</strong>
          <%= @factura.fecha.strftime("%d-%m-%Y") %>
        </p>
      </div>

      <div class="col-md-12 table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Concepto</th>
              <th>Tarifa</th>
              <th>Subtotal</th>
            </tr>
          </thead>
          <tbody>
            <% @detallesfac.each do |detalle| -%>
              <tr>  
                <td><%= detalle.servicio.concepto %></td>
                <td><%= number_with_delimiter(detalle.servicio.tarifa, delimiter: ".") %></td>
                <td><%= number_with_delimiter(detalle.subtotal, delimiter: ".") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="col-md-4">
        <p>
          <strong>Iva:</strong>
          <%= number_with_delimiter(@factura.iva, delimiter: ".") %>
        </p>
      </div>

      <div class="col-md-4">
        <p>
          <strong>Erssan:</strong>
          <%= number_with_delimiter(@factura.erssan, delimiter: ".") %>
        </p>
      </div>

      <div class="col-md-4">
        <p>
          <strong>Total:</strong>
          <%= number_with_delimiter(@factura.total, delimiter: ".") %>
        </p>
      </div>
    </div>
  </div>
</div>