<%= form_for(medidor, html: { id: "medidor_id"}) do |f| %>
  <% if medidor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(medidor.errors.count, "error") %> prohibited this medidor from being saved:</h2>

      <ul>
      <% medidor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :numero, "Número *",class: "control-label" %>
            <%= f.text_field :numero, class: "form-control uppercase" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :medicion, "Medición *",class: "control-label" %>
            <%= f.number_field :medicion, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :cliente_id, "Cliente", class: "control-label" %>
            <%= f.number_field :cliente_id, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :estado_medidor, class: "control-label" %>
            <%= f.check_box :estado_medidor %>
          </div>
        </div>
      </div>

      <div class="actions">
        <%= f.submit class: 'btn btn-default'%>
        <%= link_to "Cancelar", "", type: "reset", class: "btn btn-default" %>
        <%= link_to "Atrás", medidors_path, class: "btn btn-default" %>
      </div>
      
    </div>
  </div>
<% end %>

<script type="text/javascript">

$(document).on('turbolinks:load', function() {
  $('#medidor_id').bootstrapValidator({
    framework: 'bootstrap',
    feedbackIcons: {
      valid: 'glyphicon glyphicon-ok',
      invalid: 'glyphicon glyphicon-remove',
      validating: 'glyphicon glyphicon-refresh'
    },
    fields: {
      'medidor[numero]': {
        trigger: 'blur',
        validators: {
          notEmpty: {
            message: 'El número es requerido'
          },
          stringLength: {
                          min: 1,
                          max: 8,
                          message: 'El número debe tener entre 1 y 8 caractéres'
          }
        }
      },
      'medidor[medicion]': {
        trigger: 'blur',
        validators: {
          integer: {
            message: 'No es un número'
          },
          notEmpty: {
            message: 'La medición es requerida'
          },
          stringLength: {
                          min: 1,
                          max: 5,
                          message: 'La medición debe tener entre 1 y 5 caractéres'
          }
        }
      },
      'medidor[cliente_id]': {
        trigger: 'blur',
        validators: {
          notEmpty: {
            message: 'El cliente es requerido'
          }
        }
      }
    }  
  });
});

</script>