<p id="notice"><%= notice %></p>

<h1>Medidors</h1>

<table>
  <thead>
    <tr>
      <th>Numero</th>
      <th>Medicion</th>
      <th>Estado medidor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medidors.each do |medidor| %>
      <tr>
        <td><%= medidor.numero %></td>
        <td><%= medidor.medicion %></td>
        <td><%= medidor.estado_medidor %></td>
        <td><%= link_to 'Show', medidor %></td>
        <td><%= link_to 'Edit', edit_medidor_path(medidor) %></td>
        <td><%= link_to 'Destroy', medidor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medidor', new_medidor_path %>
