<h1 class="page-header">
  Medidor
  <%= link_to medidors_path, class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Atrás
  <% end %>
  <%= link_to edit_medidor_path(@medidor), class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-pencil"></span>
  Editar
  <% end %>
</h1>

<div class="panel panel-default">
	<div class="panel-body">
  	<div class="row">
    	<div class="col-md-6">
				<p>
  				<strong>Número:</strong>
  				<%= @medidor.numero %>
				</p>

				<p>
  				<strong>Medición:</strong>
          <%= number_with_delimiter(@medidor.medicion, delimiter: ".") %>
				</p>
			</div>

			<div class="col-md-6">
				<p>
          <strong>Cliente:</strong>
          <%= @medidor.cliente.nombre %>
        </p>
        <p>
  				<strong>Estado medidor:</strong>
          <% if @medidor.estado_medidor == true %>
            ACTIVO
          <% else %>
            INACTIVO
          <% end %>
				</p>
			</div>
		</div>
	</div>
</div>