<h1 class="page-header">
  Lecturas
  <%= link_to new_lectura_path, class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-plus"></span>
  Nueva Lectura
  <% end %>
</h1>

<!-- Lecturas -->
<div class="panel panel-default">
  <div class="panel-body">
    <table id="tablalectura" class="display responsive no-wrap">
      <thead>
        <tr>
          <th>Cliente</th>
          <th>Periodo</th>
          <th>Actual</th>
          <th>Consumo</th>
          <th>Exceso</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @lecturas.each do |lectura| %>
        <tr>
          <td><%= lectura.cliente_id %></td>
          <td><%= lectura.periodo_id %></td>
          <td><%= number_with_delimiter(lectura.actual, delimiter: ".") %></td>
          <td><%= number_with_delimiter(lectura.consumo, delimiter: ".") %></td>
          <td><%= number_with_delimiter(lectura.exceso, delimiter: ".") %></td>
          <td>
            <%= link_to lectura do %>
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true" title="Ver"></span>
            <% end %>
          </td>
          <td>
            <%= link_to edit_lectura_path(lectura) do %>
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Editar"></span>
            <% end %>
          </td>
          <td>
            <%= link_to lectura, method: :delete, data: { title: 'Eliminar lectura', confirm:'¿Quieres eliminar esta lectura?', commit: 'Eliminar', cancel: 'Cancelar' } do %>
            <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Eliminar"></span>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<!--End Lecturas -->

<script type="text/javascript">

$(document).on('turbolinks:load', function() {

  $('#tablalectura').DataTable({
    
    "order": [[ 0, "asc" ],[ 1, "desc" ]],

    "language": {
        "sProcessing":    "Procesando...",
        "sLengthMenu":    "Mostrar _MENU_ registros",
        "sZeroRecords":   "No se encontraron resultados",
        "sEmptyTable":    "Ningún dato disponible en esta tabla",
        "sInfo":          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "sInfoEmpty":     "Mostrando registros del 0 al 0 de un total de 0 registros",
        "sInfoFiltered":  "(filtrado de un total de _MAX_ registros)",
        "sInfoPostFix":   "",
        "sSearch":        "Buscar:",
        "sUrl":           "",
        "sInfoThousands":  ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
            "sFirst":    "Primero",
            "sLast":    "Último",
            "sNext":    "Siguiente",
            "sPrevious": "Anterior"
        },
        "oAria": {
            "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        },
        buttons: {
                copy: 'Copiar',
                copyTitle: 'Copiar al portapapeles',
                copySuccess: {
                    _: 'Copiados %d filas al portapapeles',
                    1: 'Copiado 1 fila al portapapeles'
                },
                print: 'Imprimir',
                pageLength: 'Mostrar %d filas'
            }
    },

    responsive: true,
    
    destroy: true,
    
    dom: 'Bfrtip',
    
    lengthMenu: [
    [ 10, 25, 50, -1 ],
    [ '10 rows', '25 rows', '50 rows', 'Show all' ]
    ],
    
    buttons: [
    'pageLength', 'copy', 'csv', 'excel', 'pdf', 'print'
    ]
  });
  
  $('div#tablalectura_filter input').addClass('form-control input-sm input-width');

});

</script>