<h1 class="page-header">
  Lectura
  <%= link_to lecturas_path, class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-list-alt"></span>
  Atrás
  <% end %>
  <%= link_to edit_lectura_path(@lectura), class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-pencil"></span>
  Editar
  <% end %>
</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <p>
          <strong>Cliente:</strong>
          <%= @lectura.cliente_id %>
        </p>

        <p>
          <strong>Periodo:</strong>
          <%= @lectura.periodo_id %>
        </p>

        <p>
          <strong>Fecha:</strong>
          <%= @lectura.fecha.strftime("%d-%m-%Y") %>
        </p>

        <p>
          <strong>Número medidor:</strong>
          <%= @lectura.numero %>
        </p>
      </div>
      <div class="col-md-6">
        <p>
          <strong>Lector:</strong>
          <%= @lectura.lector %>
        </p>
        
        <p>
          <strong>Actual:</strong>
          <%= number_with_delimiter(@lectura.actual, delimiter: ".") %>
        </p>

        <p>
          <strong>Consumo:</strong>
          <%= number_with_delimiter(@lectura.consumo, delimiter: ".") %>
        </p>

        <p>
          <strong>Exceso:</strong>
          <%= number_with_delimiter(@lectura.exceso, delimiter: ".") %>
        </p>
      </div>
    </div>
  </div>
</div>