<%= form_for(ctactecli, html: { id: "ctactecli_id"}) do |f| %>
  <% if ctactecli.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ctactecli.errors.count, "error") %> prohibited this ctactecli from being saved:</h2>

      <ul>
      <% ctactecli.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :cliente_id ,"Cliente *", class: "control-label" %>
            <%= f.number_field :cliente_id, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :estado_cuenta, "Estado de cuenta", class: "control-label" %>
            <%= f.check_box :estado_cuenta %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :saldo, "Saldo *",class: "control-label" %>
            <%= f.number_field :saldo, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="actions">
        <%= f.submit class: 'btn btn-default'%>
        <%= link_to "Cancelar", "", type: "reset", class: "btn btn-default" %>
        <%= link_to "Atrás", ctacteclis_path, class: "btn btn-default" %>
      </div>
      
    </div>
  </div>
<% end %>

<script type="text/javascript">

$(document).on('turbolinks:load', function() {
  $('#ctactecli_id').bootstrapValidator({
    framework: 'bootstrap',
    feedbackIcons: {
      valid: 'glyphicon glyphicon-ok',
      invalid: 'glyphicon glyphicon-remove',
      validating: 'glyphicon glyphicon-refresh'
    },
    fields: {
      'ctactecli[cliente_id]': {
        trigger: 'blur',
        validators: {
          integer: {
            message: 'No es un número'
          },
          notEmpty: {
            message: 'El cliente es requerido'
          },
          stringLength: {
                          min: 1,
                          max: 7,
                          message: 'El cliente debe tener entre 1 y 7 caractéres'
          }
        }
      },
      'ctactecli[saldo]': {
        trigger: 'blur',
        validators: {
          integer: {
            message: 'No es un número'
          },
          notEmpty: {
            message: 'El saldo es requerido'
          },
          stringLength: {
                          min: 1,
                          max: 7,
                          message: 'El saldo debe tener entre 1 y 7 caractéres'
          }
        }
      }
    }  
  });
});

</script>