<p id="notice"><%= notice %></p>

<h1 class="page-header">
  Cuenta Corriente Cliente
  <%= link_to new_ctactecli_path, class: 'btn btn-default' do %>
  <span class="glyphicon glyphicon-plus"></span>
  Nueva Cuenta Corriente
  <% end %>
</h1>

<!-- Cuenta Corriente Clientes -->
<div class="panel panel-default">
  <div class="panel-heading">
    Cuenta Corriente Clientes
  </div>
  <div class="panel-body">
    <table id="tablactactecli" class="display responsive no-wrap">
      <thead>
        <tr>
          <th>Cliente</th>
          <th>Saldo</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @ctacteclis.each do |ctactecli| %>
        <tr>
          <td><%= ctactecli.cliente_id %></td>
          <td><%= number_with_delimiter(ctactecli.saldo, delimiter: ".") %></td>
          <td>
            <%= link_to ctactecli do %>
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true" title="Ver"></span>
            <% end %>
          </td>
          <td>
            <%= link_to edit_ctactecli_path(ctactecli) do %>
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Editar"></span>
            <% end %>
          </td>
          <td>
            <%= link_to ctactecli, method: :delete, data: { title: 'Eliminar cuenta corriente', confirm:'¿Quieres eliminar esta cuenta corriente?', commit: 'Eliminar', cancel: 'Cancelar' } do %>
            <span class="glyphicon glyphicon-trash" aria-hidden="true" title="Eliminar"></span>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<!--End Cuenta Corriente Clientes -->

<script type="text/javascript">

$(document).on('turbolinks:load', function() {

  $('#tablactactecli').DataTable({
    responsive: true,
    destroy: true,
    dom: 'Bfrtip',
    lengthMenu: [
    [ 10, 25, 50, -1 ],
    [ '10 rows', '25 rows', '50 rows', 'Show all' ]
    ],
    buttons: [
    'pageLength', 'copy', 'csv', 'excel', 'pdf', 'print'
    ]
  });
  
  $('div#tablactactecli_filter input').addClass('form-control input-sm input-width');

});

</script>