<p id="notice"><%= notice %></p>

<p>
  <strong>Cliente:</strong>
  <%= @ctactecli.cliente_id %>
</p>

<p>
  <strong>Saldo:</strong>
  <%= @ctactecli.saldo %>
</p>

<%= link_to 'Edit', edit_ctactecli_path(@ctactecli) %> |
<%= link_to 'Back', ctacteclis_path %>
