<!DOCTYPE html>
<html>
<head>
	<title>Gotapp</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Gotaap</a>
      </div>

      <ul class="nav navbar-top-links navbar-right">  
        <!-- /.dropdown -->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
            <i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-menu-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-user">
            <li><a href="#"> Completar</a>
            </li>
            <li><a href="#"> Completar</a>
            </li>
            <li class="divider"></li>
            <li><a href="#"><i class="glyphicon glyphicon-log-out"></i> Logout</a>
            </li>
          </ul>
          <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
      </ul>
    </nav>
    
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
      <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
          <li>
            <%= link_to medidors_path do %>
              <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
              Medidores
            <% end %>
          </li>
          <li>
            <%= link_to clientes_path do %>
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              Clientes
            <% end %>
          </li>
          <li>
            <%= link_to periodos_path do %>
              <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
              Periodos
            <% end %>
          </li>
          <li>
            <%= link_to lecturas_path do %>
              <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
              Lecturas
            <% end %>
          </li>
          <li>
            <%= link_to servicios_path do %>
              <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
              Servicios
            <% end %>
          </li>
          <li>
            <%= link_to facturas_path do %>
              <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>
              Facturas
            <% end %>
          </li>
          <li>
            <%= link_to ctacteclis_path do %>
              <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
              Cuenta Corriente Cliente
            <% end %>
          </li>
          <li>
            <%= link_to  do %>
              <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
              Pagos
            <% end %>
          </li>
          <li>
            <%= link_to  do %>
              <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
              Reportes
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
    
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper" >
      <div id="page-inner">
        <div class="row">
          <div class="col-md-12">
            <%= yield %>
          </div>
        </div>
        <!-- /. ROW  -->
        <footer><p>Universidad Autónoma de Encarnación - Sistema de Gestión para una Aguatería - Vicente Esteche, 2017.</p></footer>
      </div>
      <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
  </div>
  <!-- /. WRAPPER  -->

</body>
</html>